// scss/_base.scss
@import 'vars'; // Importar variables

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: $text-color;
    background-color: $background-color;
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}