// scss/_base.scss
@import 'vars';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    transition: .4s;
    padding: 0;
    font-family: $font-family-base;
}

html {
    // --- LA MAGIA DE LA TIPOGRAFÍA RESPONSIVA EMPIEZA AQUÍ ---
    
    // Base para móviles (un poco más pequeño para empezar)
    font-size: 14px; 

    // Aumenta la base en tablets244
    @media (min-width: 768px) {
        font-size: 15px;
    }

    // El tamaño estándar en escritorio
    @media (min-width: 1200px) {
        font-size: 16px; // Esto se convierte en nuestro 1rem = 16px
    }
}

body {
    height: 100vh;
    overflow: hidden;

    line-height: 1.5;
    color: $text-color;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
}
// ... resto del archivo ...