// scss/_footer.scss
@import 'vars';

.main-footer {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa; // Un color de fondo suave
    color: #6c757d; // Texto de color gris

    border-top: 1px solid $border-color;
    text-align: center;
    font-size: 1rem;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        font-weight: 900;
    }
}