// scss/_header.scss
@import 'vars';

.main-header {
    background-color: $primary-color;
    color: white;
    padding: $spacing-unit;
    position: sticky;
    top: 0;
    z-index: 1000;
        
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .logo a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        height: 50px;
        padding: 0;

        img {
            max-height: 100%;
            width: auto;
            display: block;
            filter: invert(1);
            padding: 0;
        }
    }

    .search-bar {
        display: flex;
        flex-grow: 1;
        max-width: 500px;
        margin: 0 1.5rem;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 4px 0 0 4px;
    }
    
    button#search-button {
        background-color: darken($primary-color, 10%);
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        &:hover {
            background-color: darken($primary-color, 15%);
        }
    }

    .header-right-controls {
        display: flex;
        align-items: center;
    }
    
    .main-nav {
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                margin-left: $spacing-unit;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .mobile-menu-toggle {
        display: none; // Oculto por defecto en PC
        font-size: 2rem;
        cursor: pointer;
        margin-left: 1rem;
    }

    .cart-widget-container {
        a {
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;
            padding: 0.5rem;
            border-radius: 5px;
            transition: background-color 0.2s ease;
            &:hover { background-color: rgba(255, 255, 255, 0.1); }
        }
    }

    .cart-icon {
        font-size: 1.8rem;
        margin-right: 0.5rem;
    }

    .cart-total-header {
        font-size: 1rem;
        font-weight: bold;
    }
}