// scss/_notifications.scss
@import 'vars';

.notification-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast-notification {
    background-color: red;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-top: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s cubic-bezier(.62,.76,.93,.27);

    // Estilos para la animación de entrada y salida
    &.show {
        opacity: 1;
        transform: translateX(0);


    }
}
