// scss/_sidemenu.scss
@import 'vars';

.sidemenu {
    width:20vw; // Ancho en PC
    flex-shrink: 0; // Evita que se encoja
    background-color: $primary-color;


    position: sticky; // Menú pegajoso en PC
    top: 80px; // Ajustar esto según la altura final del header
    height: 100%; // Se ajusta a la altura de la ventana menos el header
    overflow-y: auto; // Permite scroll si hay muchos departamentos
    z-index: 100000;



    &::-webkit-scrollbar {
        width: 15px; /* Ancho para scrollbars verticales */
        height: 10px; /* Alto para scrollbars horizontales */
    }
    &::-webkit-scrollbar-track {
        background: $primary-color;

    }
    &::-webkit-scrollbar-thumb {

        background: darken($primary-color, 5%)

    }

   
    .sidemenu-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        padding: .5rem;



        background: $primary-color;
        h3 {
            width: 100%;
            margin: 0;
            font-size: 1rem;
            height: fit-content;
            color: $tcolor2;
        }
        .close-sidemenu {
            display: none; // Oculto por defecto en PC
            background: none;
            border: none;
            font-size: 2rem;
            cursor: pointer;
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            padding: .5rem;
        }
    }

    ul {

        height: inherit;
        li {

            a {
                font-size: .9rem;
                display: block;
                padding: .3rem;
                color: $tcolor2;
                font-weight: 900;
                width: 100%;
                @media screen and (max-width: 425px){
                    font-size: .7rem;
                }
                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                    background: white;
                    color: $primary-color;
                }
            }
        }
    }
}