// scss/_sidemenu.scss
@import 'vars';

.sidemenu {
    width:20vw; // Ancho en PC
    flex-shrink: 0; // Evita que se encoja
    background-color: #fff;
    border-right: 1px solid $border-color;

    position: sticky; // Menú pegajoso en PC
    top: 80px; // Ajustar esto según la altura final del header
    height: 100%; // Se ajusta a la altura de la ventana menos el header
    overflow-y: auto; // Permite scroll si hay muchos departamentos

    .sidemenu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-unit;
        background: white;
        padding: .5rem;
        h3 {
            margin: 0;
            font-size: 1.2rem;
        }
        .close-sidemenu {
            display: none; // Oculto por defecto en PC
            background: none;
            border: none;
            font-size: 2rem;
            cursor: pointer;
            color: $text-color;
            position: absolute;
            top: 0;
            right: 0;
            padding: .5rem;
        }
    }

    ul {
        li {

            a {
                font-size: .8rem;
                display: block;
                padding: .5rem;
                color: $text-color;
                font-weight: 900;
                width: 100%;
                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                    background: $primary-color;
                    color: white;
                }
            }
        }
    }
}