// scss/_sidemenu.scss
@import 'vars';

.sidemenu {
    width: 250px; // Ancho en PC
    flex-shrink: 0; // Evita que se encoja
    background-color: #fff;
    border-right: 1px solid $border-color;
    padding: $spacing-unit;
    position: sticky; // Menú pegajoso en PC
    top: 80px; // Ajustar esto según la altura final del header
    height: calc(100vh - 80px); // Se ajusta a la altura de la ventana menos el header
    overflow-y: auto; // Permite scroll si hay muchos departamentos

    .sidemenu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $spacing-unit;
        h3 {
            margin: 0;
            font-size: 1.2rem;
        }
        .close-sidemenu {
            display: none; // Oculto por defecto en PC
            background: none;
            border: none;
            font-size: 2rem;
            cursor: pointer;
            color: $text-color;
        }
    }

    ul {
        li {
            margin-bottom: 0.5rem;
            a {
                display: block;
                padding: 0.5rem 0;
                color: $text-color;
                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
    }
}