// scss/style.scss
@import 'vars';
@import 'base';
@import 'header';
@import 'sidemenu';
@import 'product_card';
@import 'pagination';
@import 'responsive';

.main-header {
    flex-shrink: 0; // Evita que el header se encoja
}

.main-container {
    display: flex;
    flex-grow: 1; // Ocupa todo el espacio vertical sobrante
    overflow: hidden; // Previene scrolls inesperados aquí
    background-color: #f4f7f9;
}

.products-container {
    flex-grow: 1; // Ocupa el espacio horizontal restante
    overflow-y: auto; // <-- ESTE es el único contenedor que tendrá scroll vertical
    padding: $spacing-unit * 1.5;
}